
/*바디*/

html, body, ul, li, a{
  margin:0;
  padding:0;
  font-family:'Hanna';
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  
  text-align:  center;
    
   
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  background: black;
  color:white;
}

/*모든 버튼*/
.btn {
  background: #000000;

  color: #ffffff;
}


.btn:hover {
  background: #5d6c70;
  color:#ffffff;
  -webkit-transition: ease-in-out 0.2s;
}
/**/

/*테이블 css*/
	hr{
	  border-width: 3px;
	  border-color: black;
	}


	.table tr, .table th, .table td{
	  border-style: solid;
	  border-width: 3px;
	  border-color: black;
    text-align: center;
	}

#toptable{
	border-width: 3px;
	border-color:black;

}

#mm{
  text-align: center;
}
.btn-sm{
  margin-top:3px;
}
/**/
