/*footer설정*/
html, body, ul, li, a, legend{
  margin:0;
  padding:0;
  font-family:'Hanna';
}

html {
	position: relative;
	min-height: 100%;
}
body {
    margin-top: 10%;
	margin-bottom: 10%;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
	background: black;
	color:white;
}


/*버튼 */

.btn {
  background: #000000;
  color: #ffffff;
}


.btn:hover {
  background: #5d6c70;
  -webkit-transition: ease-in-out 0.5s;
  color:#ffffff;
}
.btn:focus{
  border-color: black;
  color:white;
}


/**/
legend{
	font-size: 25px;
  font-family: arial;
  text-align:  center;

	border-width: 3px;
	border-color: black;
	font-family:'Hanna';
}


/*벨리 책*/
.red1{
 color: red;

}


/*필수 위지 조정*/
.required{
	text-align: right;

}
