
<div class="container-fluid">
		<div class="row">
			<footer class="col-lg-* footer text-center" id="footer">
			<p>김한수 : vvhansoovv@gmail.com</p>
			<p>김한수 : bughunt88@gmail.com</p>
			</footer>
		</div>
	</div>
